# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#Calculations
total_schools = school_data["school_name"].nunique()
total_students = student_data["student_name"].count()
total_budget = school_data["budget"].sum()
avg_math = student_data["math_score"].mean()
avg_reading = student_data["reading_score"].mean()
avg_overall = (avg_math + avg_reading) / 2
math_pass = len(student_data[student_data["math_score"]>=70]) / total_students * 100
reading_pass = len(student_data[student_data["reading_score"]>=70]) / total_students * 100

#Create a dataframe to hold the above results
district_summary = pd.DataFrame({
    "Total Schools": total_schools,
    "Total Students": total_students,
    "Total Budget": total_budget,
    "Average Math Score": avg_math,
    "Average Reading Score": avg_reading,
    "Average Overall Score": avg_overall,
    "% Passing Math": math_pass,
    "% Passing Reading": reading_pass,
    "% Passing Math": math_pass
}, index=[0])

#Give the displayed data cleaner formatting
district_summary["Total Students"] = district_summary["Total Students"].apply(lambda x: f"{x:,}")
district_summary["Total Budget"] = district_summary["Total Budget"].apply(lambda x: f"${x:,.2f}")
district_summary["Average Math Score"] = district_summary["Average Math Score"].apply(lambda x: f"{x:,.2f}")
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].apply(lambda x: f"{x:,.2f}")
district_summary["Average Overall Score"] = district_summary["Average Overall Score"].apply(lambda x: f"{x:,.2f}")
district_summary["% Passing Math"] = district_summary["% Passing Math"].apply(lambda x: f"{x:,.2f}%")
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].apply(lambda x: f"{x:,.2f}%")

#Display dataframe
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Average Overall Score,% Passing Math,% Passing Reading
0,15,"39,170","$24,649,428.00",78.99,81.88,80.43,74.98%,85.81%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [3]:
#Group by school name
school_data_grouped = school_data_complete.groupby("school_name")
student_count = school_data_grouped["math_score"].count()

#Filter for students who scored higher than 70, group by school name, obtain counts
pass_math = student_data[student_data["math_score"]>=70].groupby("school_name")
pass_math = pass_math["math_score"].count()
pass_reading = student_data[student_data["reading_score"]>=70].groupby("school_name")
pass_reading = pass_reading["reading_score"].count()

#Begin dataframe, set index as school name
school_summary = pd.DataFrame({
    "School Name": school_data["school_name"],
    "School Type": school_data["type"],
    "Total Students": school_data["size"].apply(lambda x: f"{x:,}"),
    "Total School Budget": school_data["budget"].apply(lambda x: f"${x:,}"),
    "Per Student Budget": (school_data["budget"] / school_data["size"]).apply(lambda x: f"${x:.0f}")
}).set_index("School Name")

#Perform calculations to obtain mean scores and % of students who passed
school_math_avg = school_data_grouped["math_score"].mean()
school_reading_avg = school_data_grouped["reading_score"].mean()
percent_pass_math = pass_math / student_count * 100
percent_pass_reading = pass_reading / student_count * 100

#Format data
school_summary["Average Math Score"] = school_math_avg.apply(lambda x: f"{x:.2f}")
school_summary["Average Reading Score"] = school_reading_avg.apply(lambda x: f"{x:.2f}")
school_summary["% Passing Math"] = percent_pass_math.apply(lambda x: f"{x:.2f}%")
school_summary["% Passing Reading"] = percent_pass_reading.apply(lambda x: f"{x:.2f}%")
school_summary["% Overall Passing Rate"] = ((percent_pass_reading + percent_pass_math) / 2).apply(lambda x: f"{x:.2f}%")

school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Name,,,,,,,,,
Huang High School,District,"2,917","$1,910,635",$655,76.63,81.18,65.68%,81.32%,73.50%
Figueroa High School,District,"2,949","$1,884,411",$639,76.71,81.16,65.99%,80.74%,73.36%
Shelton High School,Charter,"1,761","$1,056,600",$600,83.36,83.73,93.87%,95.85%,94.86%
Hernandez High School,District,"4,635","$3,022,020",$652,77.29,80.93,66.75%,80.86%,73.81%
Griffin High School,Charter,"1,468","$917,500",$625,83.35,83.82,93.39%,97.14%,95.27%
Wilson High School,Charter,"2,283","$1,319,574",$578,83.27,83.99,93.87%,96.54%,95.20%
Cabrera High School,Charter,"1,858","$1,081,356",$582,83.06,83.98,94.13%,97.04%,95.59%
Bailey High School,District,"4,976","$3,124,928",$628,77.05,81.03,66.68%,81.93%,74.31%
Holden High School,Charter,427,"$248,087",$581,83.80,83.81,92.51%,96.25%,94.38%
Pena High School,Charter,962,"$585,858",$609,83.84,84.04,94.59%,95.95%,95.27%
Wright High School,Charter,"1,800","$1,049,400",$583,83.68,83.95,93.33%,96.61%,94.97%
Rodriguez High School,District,"3,999","$2,547,363",$637,76.84,80.74,66.37%,80.22%,73.29%
Johnson High School,District,"4,761","$3,094,650",$650,77.07,80.97,66.06%,81.22%,73.64%
Ford High School,District,"2,739","$1,763,916",$644,77.10,80.75,68.31%,79.30%,73.80%
Thomas High School,Charter,"1,635","$1,043,130",$638,83.42,83.85,93.27%,97.31%,95.29%

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [4]:
#Sort and display the top five schools in overall passing rate
school_summary.sort_values("% Overall Passing Rate", ascending=False).head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Name,,,,,,,,,
Cabrera High School,Charter,"1,858","$1,081,356",$582,83.06,83.98,94.13%,97.04%,95.59%
Thomas High School,Charter,"1,635","$1,043,130",$638,83.42,83.85,93.27%,97.31%,95.29%
Griffin High School,Charter,"1,468","$917,500",$625,83.35,83.82,93.39%,97.14%,95.27%
Pena High School,Charter,962,"$585,858",$609,83.84,84.04,94.59%,95.95%,95.27%
Wilson High School,Charter,"2,283","$1,319,574",$578,83.27,83.99,93.87%,96.54%,95.20%

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [5]:
#Sort and display the five worst-performing schools
school_summary.sort_values("% Overall Passing Rate").head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Name,,,,,,,,,
Rodriguez High School,District,"3,999","$2,547,363",$637,76.84,80.74,66.37%,80.22%,73.29%
Figueroa High School,District,"2,949","$1,884,411",$639,76.71,81.16,65.99%,80.74%,73.36%
Huang High School,District,"2,917","$1,910,635",$655,76.63,81.18,65.68%,81.32%,73.50%
Johnson High School,District,"4,761","$3,094,650",$650,77.07,80.97,66.06%,81.22%,73.64%
Ford High School,District,"2,739","$1,763,916",$644,77.10,80.75,68.31%,79.30%,73.80%

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [6]:
#Filter for each grade, only keep school name and math score
ninth = school_data_complete[school_data_complete["grade"] == "9th"][["school_name","math_score"]]
tenth = school_data_complete[school_data_complete["grade"] == "10th"][["school_name","math_score"]]
eleventh = school_data_complete[school_data_complete["grade"] == "11th"][["school_name","math_score"]]
twelvth = school_data_complete[school_data_complete["grade"] == "12th"][["school_name","math_score"]]

#Group by school name, create series of mean math scores
ninth = ninth.groupby("school_name")["math_score"].mean()
tenth = tenth.groupby("school_name")["math_score"].mean()
eleventh = eleventh.groupby("school_name")["math_score"].mean()
twelvth = twelvth.groupby("school_name")["math_score"].mean()

#Create new dataframe
math_scores_by_grade = pd.DataFrame({
    "9th": ninth.apply(lambda x: f"{x:.2f}"),
    "10th": tenth.apply(lambda x: f"{x:.2f}"),
    "11th": eleventh.apply(lambda x: f"{x:.2f}"),
    "12th": twelvth.apply(lambda x: f"{x:.2f}")
}
)

math_scores_by_grade

                         9th   10th   11th   12th
school_name
Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [7]:
#Filter for each grade, only keep school name and reading score
ninth = school_data_complete[school_data_complete["grade"] == "9th"][["school_name","reading_score"]]
tenth = school_data_complete[school_data_complete["grade"] == "10th"][["school_name","reading_score"]]
eleventh = school_data_complete[school_data_complete["grade"] == "11th"][["school_name","reading_score"]]
twelvth = school_data_complete[school_data_complete["grade"] == "12th"][["school_name","reading_score"]]

#Group by school name, create series of mean reading scores
ninth = ninth.groupby("school_name")["reading_score"].mean()
tenth = tenth.groupby("school_name")["reading_score"].mean()
eleventh = eleventh.groupby("school_name")["reading_score"].mean()
twelvth = twelvth.groupby("school_name")["reading_score"].mean()

#Create new dataframe
reading_scores_by_grade = pd.DataFrame({
    "9th": ninth.apply(lambda x: f"{x:.2f}"),
    "10th": tenth.apply(lambda x: f"{x:.2f}"),
    "11th": eleventh.apply(lambda x: f"{x:.2f}"),
    "12th": twelvth.apply(lambda x: f"{x:.2f}")
}
)

reading_scores_by_grade

                         9th   10th   11th   12th
school_name
Bailey High School     81.30  80.91  80.95  80.91
Cabrera High School    83.68  84.25  83.79  84.29
Figueroa High School   81.20  81.41  80.64  81.38
Ford High School       80.63  81.26  80.40  80.66
Griffin High School    83.37  83.71  84.29  84.01
Hernandez High School  80.87  80.66  81.40  80.86
Holden High School     83.68  83.32  83.82  84.70
Huang High School      81.29  81.51  81.42  80.31
Johnson High School    81.26  80.77  80.62  81.23
Pena High School       83.81  83.61  84.34  84.59
Rodriguez High School  80.99  80.63  80.86  80.38
Shelton High School    84.12  83.44  84.37  82.78
Thomas High School     83.73  84.25  83.59  83.83
Wilson High School     83.94  84.02  83.76  84.32
Wright High School     83.83  83.81  84.16  84.07

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [8]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 584, 615, 645, 10000]
group_names = ["<$585", "585-615", "616-645", "$646+"]

In [9]:
#create new dataframe, make new column to show budget/student
df_school_spending = school_data_complete
df_school_spending["Per Student Budget"] = df_school_spending["budget"] / df_school_spending["size"]

#Use cut to create a new column, group by this new column, obtain count
df_school_spending["Spending Ranges(Per Student)"] = pd.cut(df_school_spending["Per Student Budget"], spending_bins, labels = group_names)
df_school_spending_grouped = df_school_spending.groupby("Spending Ranges(Per Student)")
total_school_spending = df_school_spending_grouped["math_score"].count()

#Filter for students who scored higher than 70, group by school name, obtain counts
pass_math_ss = df_school_spending[df_school_spending["math_score"]>=70].groupby("Spending Ranges(Per Student)")
pass_math_ss = pass_math_ss["math_score"].count()
pass_reading_ss = df_school_spending[df_school_spending["reading_score"]>=70].groupby("Spending Ranges(Per Student)")
pass_reading_ss = pass_reading_ss["reading_score"].count()

#Calculate
school_spending_math = df_school_spending_grouped["math_score"].mean()
school_spending_reading = df_school_spending_grouped["reading_score"].mean()
per_passing_math = pass_math_ss / total_school_spending * 100
per_passing_reading = pass_reading_ss / total_school_spending * 100

#Create data frame
scores_by_school_spending = pd.DataFrame({
    "Average Math Score": school_spending_math.apply(lambda x: f"{x:.2f}"),
    "Average Reading Score": school_spending_reading.apply(lambda x: f"{x:.2f}"),
    "% Passing Math": per_passing_math.apply(lambda x: f"{x:.2f}%"),
    "% Passing Reading": per_passing_reading.apply(lambda x: f"{x:.2f}%"),
    "% Overall Passing Rate": ((per_passing_math + per_passing_reading) / 2).apply(lambda x: f"{x:.2f}%")
})

scores_by_school_spending

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges(Per Student),,,,,
<$585,83.36,83.96,93.70%,96.69%,95.19%
585-615,83.53,83.84,94.12%,95.89%,95.01%
616-645,78.06,81.43,71.40%,83.61%,77.51%
$646+,77.05,81.01,66.23%,81.11%,73.67%

## Scores by School Size

* Perform the same operations as above, based on school size.

In [10]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 999, 2000, 5000]
size_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [11]:
df_school_size = school_data_complete
df_school_size["School Size"] = pd.cut(df_school_size["size"], size_bins, labels = size_names)
df_school_size_grouped = df_school_size.groupby("School Size")
total_school_size = df_school_size_grouped["math_score"].count()

df_school_size_grouped.mean()

#Filter for students who scored higher than 70, group by school name, obtain counts
pass_math_size = df_school_size[df_school_size["math_score"]>=70].groupby("School Size")
pass_math_size = pass_math_size["math_score"].count()
pass_reading_size = df_school_size[df_school_size["reading_score"]>=70].groupby("School Size")
pass_reading_size = pass_reading_size["reading_score"].count()

school_size_math = df_school_size_grouped["math_score"].mean()
school_size_reading = df_school_size_grouped["reading_score"].mean()
per_passing_math_size = pass_math_size / total_school_size * 100
per_passing_reading_size = pass_reading_size / total_school_size * 100

scores_by_school_size = pd.DataFrame({
    "Average Math Score": school_size_math.apply(lambda x: f"{x:.2f}"),
    "Average Reading Score": school_size_reading.apply(lambda x: f"{x:.2f}"),
    "% Passing Math": per_passing_math_size.apply(lambda x: f"{x:.2f}%"),
    "% Passing Reading": per_passing_reading_size.apply(lambda x: f"{x:.2f}%"),
    "% Overall Passing Rate": ((per_passing_math_size + per_passing_reading_size) / 2).apply(lambda x: f"{x:.2f}%")

})

scores_by_school_size

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),83.83,83.97,93.95%,96.04%,95.00%
Medium (1000-2000),83.37,83.87,93.62%,96.77%,95.19%
Large (2000-5000),77.48,81.20,68.65%,82.13%,75.39%

## Scores by School Type

* Perform the same operations as above, based on school type.

In [12]:
school_type = school_data_complete.groupby("type")
school_type_total = school_type["grade"].count()

#Filter for students who scored higher than 70, group by school name, obtain counts
pass_math_type = school_data_complete[school_data_complete["math_score"]>=70].groupby("type")
pass_math_type = pass_math_type["math_score"].count()
pass_reading_type = school_data_complete[school_data_complete["reading_score"]>=70].groupby("type")
pass_reading_type = pass_reading_type["reading_score"].count()

school_type_math = school_type["math_score"].mean()
school_type_reading = school_type["reading_score"].mean()
per_passing_math_type = pass_math_type / school_type_total * 100
per_passing_reading_type = pass_reading_type / school_type_total * 100

scores_by_school_type = pd.DataFrame({
    "Average Math Score": school_type_math.apply(lambda x: f"{x:.2f}"),
    "Average Reading Score": school_type_reading.apply(lambda x: f"{x:.2f}"),
    "% Passing Math": per_passing_math_type.apply(lambda x: f"{x:.2f}%"),
    "% Passing Reading": per_passing_reading_type.apply(lambda x: f"{x:.2f}%"),
    "% Overall Passing Rate": ((per_passing_math_type + per_passing_reading_type) / 2).apply(lambda x: f"{x:.2f}%")
    
})

scores_by_school_type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
type,,,,,
Charter,83.41,83.90,93.70%,96.65%,95.17%
District,76.99,80.96,66.52%,80.91%,73.71%